{% extends 'layout.html' %}

{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Peliculas</h1>
        <p class="col-md-8 fs-4">Disfruta aquí el mejor contenido de peliculas gratis.</p>
        <p class="col-md-8 fs-4">Miles de Películas y series Online en calidad HD, Castellano y Subtitulado sin cortes.</p>
      </div>
    </div>


<div class="card-group">
  <div class="card">
    <img src="https://play-lh.googleusercontent.com/8OnmMiByi18D95BiKRsCydZugi5Bea0RJvcUoeoybAZifAwWOxJbMJFee3viariAuWl51gINxAOyC-dnxTw" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">John Wick</h5>
    </div>
  </div>
  <div class="card">
    <img src="https://play-lh.googleusercontent.com/8OnmMiByi18D95BiKRsCydZugi5Bea0RJvcUoeoybAZifAwWOxJbMJFee3viariAuWl51gINxAOyC-dnxTw" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">John Wick</h5>
    </div>
  </div>
  <div class="card">
    <img src="https://play-lh.googleusercontent.com/8OnmMiByi18D95BiKRsCydZugi5Bea0RJvcUoeoybAZifAwWOxJbMJFee3viariAuWl51gINxAOyC-dnxTw" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">John Wick</h5>
    </div>
  </div>
</div>

{% endblock %}

